body {
    background-color: azure;
}

nav#main-nav {
    background-color: rgb(255, 255, 255);
}

#main-nav > a {
    background-color: rgb(255, 109, 56);
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 0.6em;
    font-size: 1.5rem ;
    text-decoration: none;
    transition: all ease-in-out .5s;
    border-radius: 100px;
}

#main-nav > a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

img {
    max-width: 100%;
}
#dossier-cards {
    display: flex;
    flex-flow: row wrap;
}
    .card {
        background-color: aliceblue;
        width: 47.5%;
        border: sold 1px black;
        border-radius: 0.3rem;
        box-shadow: o.5rem 1rem rgba(0,0,0,0.33);
    }

    .card > img {
        border-radius: 1rem 1rem 0 0;
    }

    .card h3,
    .card p,
    .card a {
        margin: 0.5rem;
    }

    .card {
        background-color: aliceblue;
        border: solid 1px black;
        border-radius: 1rem;
        box-shadow: 0.25rem 0.5rem 0.25rem black;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        transition: all ease-in-out 300ms;
        display: grid;
        grid-template-rows: max-content auto 1fr;
    }

